<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336791101922-smh5rofritm2ctcl8050egnkep55ai22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336791101922-smh5rofritm2ctcl8050egnkep55ai22</string>
	<key>API_KEY</key>
	<string>AIzaSyAJRrcoCpVwCgeTD8IzU7ju_-H0WKG42FA</string>
	<key>GCM_SENDER_ID</key>
	<string>336791101922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garageChai</string>
	<key>PROJECT_ID</key>
	<string>garage-chai</string>
	<key>STORAGE_BUCKET</key>
	<string>garage-chai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336791101922:ios:3dbb375a7d4990d93019bb</string>
</dict>
</plist>